<div class="dashboard">
    <div id="splash-screen">
        <div class="spinner"></div>
    </div>
    <div class="card server-status">
        <h2>Server Status</h2>
        <p><strong>Total Servers:</strong> 20</p>
        <p><strong>Online:</strong> 15</p>
        <p><strong>Offline:</strong> 5</p>
    </div>

    <div class="card resource-usage">
        <h2>Resource Usage</h2>
        <p><strong>RAM Usage:</strong> 65% (12 GB / 18 GB)</p>
        <p><strong>CPU Usage:</strong> 45% (12 / 24 cores)</p>
    </div>

    <div class="card last-logged-in-user">
        <h2>Last Logged In User</h2>
        <p><strong>User:</strong> John Doe</p>
        <p><strong>Last Logged In:</strong> 30 August 2024, 14:45</p>
    </div>

    <div class="card network-usage">
        <h2>Network Usage</h2>
        <p><strong>Incoming:</strong> 120 MB/s</p>
        <p><strong>Outgoing:</strong> 80 MB/s</p>
    </div>
</div>

<div class="server-statistics card">
    <h2>Control Panel</h2>
    <div class="server-actions">
        <button class="btn btn-stop">Stop</button>
        <button class="btn btn-start">Start</button>
        <button class="btn btn-restart">Restart</button>
    </div>
</div>

<div class="server-table-container">
    <h2 class="server-header">Server List</h2>
    <table id="server-table">
        <thead>
        <tr>
            <th>Country</th>
            <th>Server Name</th>
            <th>Port</th>
            <th>Slots</th>
            <th>Map</th>
        </tr>
        </thead>
        <tbody>
        <tr id="no-servers-message">
            <td colspan="3">No servers found</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/servers.js"></script>