<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <%- include('sidebar', { version: version }) %>
    <div class="content-container">
        <div class="server-page">
            <div class="servers-button-container">
                <div class="server-controls mb-1">
                    <button id="refresh-servers" class="btn-server"><i class="fa-solid fa-arrows-rotate"></i></button>
                </div>
                <div class="server-controls mb-1">
                    <button id="edit-servers" class="btn-server"><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
                <div class="server-controls mb-1">
                    <button id="save-servers" class="btn-server" style="display: none;">Save</button>
                </div>
            </div>
            <table id="server-table">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Server Name</th>
                    <th>Port</th>
                    <th>Auth Key</th>
                    <th>Slots</th>
                    <th>Map</th>
                </tr>
                </thead>
                <tbody>
                <tr id="no-servers-message">
                    <td colspan="6">No servers found</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/servers.js"></script>
</body>
</html>
